name: Publish package
on:
  workflow_dispatch:
    inputs:
      release_type:
          description: Choose the version type you want to publish
          required: true
          type: choice
          default: patch
          options:
            - major
            - minor
            - patch
    tags: ['v*']
  release:
    types: [created]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: 24
      - run: npm ci
      # - run: npm test
  publish-to-gpr:
    needs: build
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          always-auth: true
          node-version: 24
          registry-url: https://npm.pkg.github.com/
      - run: npm ci
        if: ${{ github.event_name == 'workflow_dispatch' || github.event.workflow_run.conclusion == 'success' }}
      - run: |
          git config --global user.email "fbuireu@gmail.com"
          git config --global user.name "Ferran Buireu"
          npm version ${{ inputs.release_type }}
      - run: npm publish
        env:
          NODE_AUTH_TOKEN: ${{secrets.GITHUB_TOKEN}}
  publish-to-npm:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: 24
          registry-url: https://registry.npmjs.org/
          scope: '@fbuireu'
      - run: npm ci
        if: ${{ github.event_name == 'workflow_dispatch' || github.event.workflow_run.conclusion == 'success' }}
      - run: |
          git config --global user.email "fbuireu@gmail.com"
          git config --global user.name "Ferran Buireu"
          npm version ${{ inputs.release_type }}
      - run: npm publish --access=public
        env:
          NODE_AUTH_TOKEN: ${{secrets.NPM_AUTH_TOKEN}}
