name: Publish package
on:
  workflow_dispatch:
    inputs:
      release_type:
        description: Choose the version type you want to publish
        required: true
        type: choice
        default: patch
        options:
          - major
          - minor
          - patch
  push:
    tags:
      - 'v*'
  release:
    types: [created]
jobs:
  build:
    name: Build and Test
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version: 24

      - name: Install dependencies
        run: npm ci
      # - name: Run tests
      #   run: npm test
  publish-to-gpr:
    name: Publish to GitHub Packages
    needs: build
    runs-on: ubuntu-latest
    permissions:
      contents: write
      packages: write
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          always-auth: true
          node-version: 24
          registry-url: https://npm.pkg.github.com/
      - name: Install dependencies
        run: npm ci
        if: ${{ github.event_name == 'workflow_dispatch' || github.event_name == 'release' }}

      - name: Bump version
        run: |
          git config --global user.email "fbuireu@gmail.com"
          git config --global user.name "Ferran Buireu"
          npm version ${{ github.event.inputs.release_type || 'patch' }}
      - name: Publish to GPR
        run: npm publish
        env:
          NODE_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  publish-to-npm:
    name: Publish to npm Registry
    needs: build
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version: 24
          registry-url: https://registry.npmjs.org/
          scope: '@fbuireu'
      - name: Install dependencies
        run: npm ci
        if: ${{ github.event_name == 'workflow_dispatch' || github.event_name == 'release' }}
      - name: Bump version
        run: |
          git config --global user.email "fbuireu@gmail.com"
          git config --global user.name "Ferran Buireu"
          npm version ${{ github.event.inputs.release_type || 'patch' }}
      - name: Publish to npm
        run: npm publish --access=public
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_AUTH_TOKEN }}
